html {
    font-family: 'Poppins', sans-serif;
    background: rgb(140, 123, 156);
    background: linear-gradient(0deg, rgba(140, 123, 156, 1) 0%, rgba(9, 45, 76, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #E6E6E6;
    height: 100%;
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin: 0;
    bottom: 50px;
}

.javascript-logo {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #f7df1e;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 100px;
    justify-content: space-between;
    padding: 5vh;
}

.box {
    width: calc(33.33% - 100px);
    height: 25vh;
    background-color: #808080;
    border: 1px solid transparent;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 1rem;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .box {
        flex: 0 0 45%;
        /* Ajusta este valor para cambiar el tamaño de las imágenes en pantallas más pequeñas */
        max-width: 45%;
        /* Ajusta este valor para cambiar el tamaño máximo de las imágenes en pantallas más pequeñas */
    }

}

/* Estilos para el ícono de información y el tooltip */
.icon-info {
    display: flex;
    position: fixed;
    right: 5vh;
    top: 15px;
    /* Ajusta esta distancia desde arriba */
    transition: transform 0.5s;
}

.icon-info:hover {
    transform: rotate(360deg);
}

.tooltip {
    padding: 5px;
    width: auto;
    display: flex;
    position: fixed;
    align-items: center;
    right: 5vh;
    margin: 0;
    top: 15px;
    opacity: 0;
    transition: all 0.5s ease;
    justify-content: center;
    z-index: -1;
    white-space: nowrap;
}

.icon-info:hover +.tooltip {
    border-radius: 25px;
    background-color: gray;
    display: flex;
    position: fixed;
    justify-content: center;
    right: 15vh;
    margin: 0;
    top: 15px;
    opacity: 1;
    z-index: 0;
    white-space: nowrap;
}

.icon-return {
    display: flex;
    position: absolute;
    margin: 2vh;
    transition: 0.3s;
}
.icon-return:hover {
    transform: scale(1.2);
}
.exercise-description {
    margin: 6vh 2vh;
    font-weight: 300;
    
}

footer {
    display: flex;
    position: fixed;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

/* Estilos responsive */
@media screen and (max-width: 600px) {
    .title {
        font-size: 24px;
        /* Ajustar el tamaño del título en pantallas pequeñas */
    }

    .javascript-logo {
        font-size: 32px;
        /* Ajustar el tamaño del logo de JavaScript en pantallas pequeñas */
    }

    .container {
        padding: 2vh;
        /* Ajustar el espaciado entre los cuadros en pantallas pequeñas */
    }

    .box {
        flex: 0 0 100%;
        /* Cambiar a un ancho del 100% para que los cuadros ocupen toda la pantalla en pantallas pequeñas */
        max-width: 100%;
        /* Cambiar a un ancho máximo del 100% para que los cuadros no se superpongan en pantallas pequeñas */
        margin: 1rem 0;
        /* Ajustar el margen vertical entre los cuadros en pantallas pequeñas */
    }

    .icon-info {
        right: 2vh;
        /* Ajustar la posición del ícono de información en pantallas pequeñas */
    }

    .tooltip {
        right: 2vh;
        /* Ajustar la posición del tooltip en pantallas pequeñas */
    }

    footer {
        padding: 10px;
        /* Ajustar el espaciado del pie de página en pantallas pequeñas */
    }
}

.console {
    width: 80%;
    max-width: 800px;
    margin: 100px auto;
    border: 2px solid white;
    padding: 10px;
    background-color: #0f0f0f;
    overflow-y: auto;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
}